.click:hover {
  background-color: silver;
  cursor: pointer;
  height: 110%;
  width: 105%;
}
.click:hover > #cur-temp {
  background-color: red;
}

.modal-div {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal-overlay {
  background-color: rgba(0, 0, 0, 0.6);

  width: 100%;
  height: 100%;
  position: absolute;
}
.modal-content {
  background-color: white;

  position: relative;
  text-align: center;
  padding: 50px 100px;
  border-radius: 10px;
  width: 30%;
  top: 0px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}
.hidden {
  display: none;
}

#cur-temp {
  font-size: 50px;
}
